#echo "# ppmtools" >> README.md
#git init
#git add README.md
#git commit -m "first commit"
#git remote add origin https://github.com/mhanchini/ppmtools.git
#git push -u origin master

#git remote add origin https://github.com/mhanchini/ppmtools.git
#git push -u origin master

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

/.idea/
/.mvn/
